<div class="container">
  <h1>Créer une personne</h1>
  <div class="alert alert-info alert-dismissible fade in" *ngIf="success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    La personne a été créée avec succès.
  </div>
  <form [formGroup]="createPersonForm" (submit)="create()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="pnr" class="col-md-4 col-form-label">PNR *</label>
          <div class="col-md-8">
            <input class="form-control" type="text" placeholder="0001" id="pnr" formControlName="pnr" maxlength="25">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="badge" class="col-md-4 col-form-label">Badge *</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="badge" formControlName="badge" maxlength="25">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="firstname" class="col-md-4 col-form-label">Prénom *</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="firstname" formControlName="firstname" maxlength="25">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="lastname" class="col-md-4 col-form-label">Nom *</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="lastname" formControlName="lastname" maxlength="30">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="birthdate" class="col-md-4 col-form-label">Date de naissance *</label>
          <div class="col-md-8">
            <input class="form-control" type="date" id="birthdate" formControlName="birthdate">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="ssin" class="col-md-4 col-form-label">Numéro national *</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="ssin" formControlName="ssin" maxlength="11">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="priv_phone" class="col-md-4 col-form-label">Téléphone privé</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="priv_phone" formControlName="priv_phone" maxlength="25">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="work_phone" class="col-md-4 col-form-label">Téléphone professionnel</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="work_phone" formControlName="work_phone" maxlength="25">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="photo" class="col-md-4 col-form-label">Photo</label>
          <div class="col-md-8">
            <input class="form-control" type="text" id="photo" formControlName="photo" maxlength="50">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="medical_examination_date" class="col-md-4 col-form-label">Date de dernière visite médicale</label>
          <div class="col-md-8">
            <input class="form-control" type="date" id="medical_examination_date" formControlName="medical_examination_date">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="rescuer" class="col-md-4 col-form-label">Secouriste</label>
          <div class="col-md-8">
            <input type="checkbox" id="rescuer" formControlName="rescuer">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="grade" class="col-md-4 col-form-label">Grade *</label>
          <div class="col-md-8">
            <select class="form-control" id="grade" formControlName="grade">
              <option value="">[Sélectionnez]</option>
              <option *ngFor="let grade of allGrades" [value]="grade.id">{{grade.value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="brigade" class="col-md-4 col-form-label">Brigade *</label>
          <div class="col-md-8">
            <select class="form-control" id="brigade" formControlName="brigade">
              <option value="">[Sélectionnez]</option>
              <option *ngFor="let brigade of allBrigades" [value]="brigade.id">{{brigade.value}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">

        </div>
      </div>
    </div>

    <div class="form-group row" *ngFor="let certification of createPersonForm.controls['certifications'].controls; let index = index; let lastCertif = last">
      <label for="certification" class="col-md-3 col-form-label">Certifications</label>
      <div class="col-md-4">
        <select class="form-control" id="certification" [formControl]="certification.controls['certification']" >
          <option value="">[Sélectionnez]</option>
          <option *ngFor="let certif of allCertifications" [value]="certif.id">{{certif.value}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <input class="form-control" type="date" id="date" [formControl]="certification.controls['date']" >
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-success" (click)="removeCertification(index)" *ngIf="index !=0 && lastCertif">Remove</button>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-success" (click)="addCertification()" *ngIf="lastCertif">ADD</button>
      </div>
    </div>

    <div class="row">
      <button type="reset" id="reset" class="btn btn-default">Effacer</button>
      <button type="submit" id="submit" class="btn btn-primary" [disabled]="!createPersonForm.valid">Valider</button>
    </div>
  </form>
</div>
